<!DOCTYPE html>
<!--[if IE 7]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
wet-boew.github.io/wet-boew/License-eng.txt / wet-boew.github.io/wet-boew/Licence-fra.txt -->
<title>{% unless page.url == '/index-en.html' %}{{ page.title }} - {% endunless }{{ site.title_en }}</title>

<link rel="shortcut icon" href="http://wet-boew.github.io/wet-boew/dist/theme-wet-boew/images/favicon.ico" />
<meta name="description" content="{% if page.description and page.description != '' %}{{ page.description }}{% else %}{{ site.description_en }}{% endif %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if lte IE 8]>
<script src="http://wet-boew.github.io/wet-boew/dist/js/jquery-ie.min.js"></script>
<script src="http://wet-boew.github.io/wet-boew/dist/js/polyfills/html5shiv-min.js"></script>
<link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/grids/css/util-ie-min.css" />
<link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/js/css/pe-ap-ie-min.css" />
<link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/theme-wet-boew/css/theme-ie-min.css" />
<noscript><link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/theme-wet-boew/css/theme-ns-ie-min.css" /></noscript>
<![endif]-->
<!--[if gt IE 8]><!-->
<script src="http://wet-boew.github.io/wet-boew/dist/js/jquery.min.js"></script>
<link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/grids/css/util-min.css" />
<link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/js/css/pe-ap-min.css" />
<link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/theme-wet-boew/css/theme-min.css" />
<noscript><link rel="stylesheet" href="http://wet-boew.github.io/wet-boew/dist/theme-wet-boew/css/theme-ns-min.css" /></noscript>
<!--<![endif]-->

<!-- CustomCSSStart -->
{% if page.css_href and page.css_href contains '.css' %}
<link rel='stylesheet' href='{{ page.css_href }}' />
{% endif %}
<!-- CustomCSSEnd -->
</head>

<body><div id="wb-body{% if page.secondary_menu == false %}{% elsif site.secondary_menu == false and page.secondary_menu != true %}{% elsif page.secondary_menu == true or site.secondary_menu == true %}-sec{% endif %}">
<div id="wb-skip">
<ul id="wb-tphp">
<li id="wb-skip1"><a href="#wb-cont">Skip to main content</a></li>
<li id="wb-skip2"><a href="#wb-nav">Skip to {% if page.secondary_menu == false %}footer{% elsif site.secondary_menu == false and page.secondary_menu != true %}footer{% else %}secondary menu{% endif %}</a></li>
</ul>
</div>

<div id="wb-head"><div id="wb-head-in"><header>
<!-- HeaderStart -->
<section><div id="wet-fullhd"><h2>Header bar</h2>
<div id="wet-fullhd-in">
{% if page.languages == false %}{% elsif site.languages == false and page.languages != true %}
{% else %}
<ul>
<li id="wet-fullhd-lang-2"><a href="{{ page.filename_fr }}" lang="fr">Français</a></li>
<li id="wet-fullhd-lang-current">English</li>
</ul>
{% endif %}
</div>
</div></section>

<div id="wet-bnr" role="banner"><div id="wet-bnr-in">
<div id="wet-title"><p id="wet-title-in"><a href="http://wet-boew.github.io/wet-boew/index-eng.html"><object data="http://wet-boew.github.io/wet-boew/dist/theme-wet-boew/images/logo.svg" role="img" tabindex="-1" type="image/svg+xml"><img src="http://wet-boew.github.io/wet-boew/dist/theme-wet-boew/images/logo.png" alt="" /></object> <span>Web Experience Toolkit&#160;(WET) <small>Collaborative open source project led by the Government of Canada</small></span></a></p></div>
{% if page.search == false %}{% elsif site.search == false and page.search != true %}
{% else %}

<section role="search"><div id="wet-srchbx"><h2>Search</h2>
<form action="#" method="post"><div id="wet-srchbx-in">
<label for="wet-srch">Search website</label><input id="wet-srch" name="wet-srch" type="search" value="" size="27" maxlength="150" />
<input id="wet-srch-submit" name="wet-srch-submit" type="submit" value="Search" data-icon="search" class="button button-accent" />
</div></form>
</div></section>
{% endif %}
</div>
{% if page.subsite == false %}{% elsif site.subsite == false and page.subsite != true %}
{% elsif page.subsite == true or site.subsite == true %}
<div id="wet-subsite" class="wet-subsite-1">
<p><a href="#">Sub-site name</a></p>
</div>
{% endif %}
</div>
{% if page.site_menu == false and page.breadcrumb == false %}{% elsif page.site_menu == false and page.site_menu != true and site.breadcrumb == false and page.breadcrumb != true %}{% elsif site.site_menu == false and page.site_menu != true and page.breadcrumb == false %}{% elsif site.site_menu == false and page.site_menu != true site.breadcrumb == false and page.breadcrumb != true %}
{% else %}

<nav role="navigation">
{% if page.site_menu == false %}{% elsif site.site_menu == false and page.site_menu != true %}
{% else %}
{% include sitemenu-theme-wet-boew-en.html %}
{% endif %}
{% if page.breadcrumb == false %}{% elsif site.breadcrumb == false and page.breadcrumb != true %}
{% else %}
{% include breadcrumb-theme-wet-boew-en.html %}
{% endif %}
</nav>
{% endif %}
<!-- HeaderEnd -->
</header></div></div>