<div id="wet-psnb"><h2>Site menu</h2><div id="wet-psnb-in"><div class="wet-boew-menubar mb-mega"><div>
<ul class="mb-menu" data-ajax-replace="http://wet-boew.github.io/wet-boew/demos/includes/projectmenu-eng.txt">
<li><div><a href="http://wet-boew.github.io/wet-boew/index-eng.html">WET project</a></div></li>
<li><div><a href="https://github.com/wet-boew/wet-boew/wiki/Implementing-WET">Implement WET</a></div></li>
<li><div><a href="https://github.com/wet-boew/wet-boew/wiki/Contributor-guidelines">Contribute to WET</a></div></li>
</ul>
</div></div></div></div>