<div id="wet-psnb"><h2>Menu du site</h2><div id="wet-psnb-in"><div class="wet-boew-menubar mb-mega"><div>
<ul class="mb-menu" data-ajax-replace="https://wet-boew.github.io/wet-boew/includes/projectmenu-fr.txt">
<li><div><a href="https://wet-boew.github.io/wet-boew/index-fr.html">Projet de la BOEW</a></div></li>
<li><div><a href="https://github.com/wet-boew/wet-boew/wiki/Mise-en-%C5%93uvre-de-la-BOEW">Mise en œuvre de la BOEW</a></div></li>
<li><div><a href="https://github.com/wet-boew/wet-boew/wiki/Lignes-directrices-pour-les-contributeurs">Contribuer à la BOEW</a></div></li>
</ul>
</div></div></div></div>