@charset "utf-8";

button.__summary {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button.__summary:focus {
	outline: dotted 1px black;
}

button.__summary span.__expandIcon {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	background-size: 12px 12px;
	background-position: center center;
	background-repeat: no-repeat;
}

button.__summary[aria-expanded="false"] span.__expandIcon {
	background-image: url('arrow-right.svg')
}

button.__summary[aria-expanded="true"] span.__expandIcon {
	background-image: url('arrow-down.svg')
}